<p>
    The Carman Family Resource Centre (CFRC) is a non-profit organization operated by a volunteer Board of Directors.  
    We are a non-affiliated association and registered charity.  We have been incorporated since 1996.
</p>
<p>
    The CFRC’s mission is to provide educational and supportive services which enhance the quality of family life 
    for residents of our community and surrounding area.
</p>
<p>
    Our goals include:
    <ul>
        <li>providing ongoing parenting education programs;</li>
        <li>providing supportive resources to families and caregivers;</li>
        <li>providing an environment which promotes nurturing relationships between parents and children;</li>
        <li>forming partnerships with existing agencies and organizations and collaborate to meet program goals.</li>
    </ul>
</p>
<p>
    The CFRC is open on a part-time basis according to the programs being offered.  General office hours are held 
    Tuesday through Friday.
</p>
<p>
    The Centre follows the Prairie Rose School Division calendar for holidays and closures; if there is no school 
    in the Prairie Rose School Division, the Centre is closed.  We are also closed for cancellations due to inclement 
    weather or poor road conditions.  Please listen to the radio (CFAM 950, CBC 990, or CJOB 680) or check the 
    School Division’s website (www.prsdmb.ca) for cancellation notices.
</p>
<p>
    At the Centre, parents are responsible for their children; please help us maintain a safe and enjoyable environment 
    for everyone!  Please bring along indoor footwear or slippers, remind your children to use indoor voices and not 
    to run or climb, and please keep your children out of the kitchen area.
</p>
<p>
    You are welcome to bring along hot beverages but please have them in a covered travel mug.  Your cooperation is 
    greatly appreciated.
</p>
<p>
    The Carman Family Resource Centre is funded and supported through donations and grants from the Town of Carman, 
    R.M. of Dufferin, Southern Health/Santé Sud, Prairie Rose School Division, The Winnipeg Foundation, Healthy 
    Child Coalition – Central Region, Carman Area Foundation and other generous individuals and businesses. 
    Additional funds are also raised through various fundraising events and efforts throughout the year. Donations 
    are greatly appreciated.
</p>