<div class="container">
    <section class="split">
        <header class="no-margin">
            <h1 class="no-margin">Contact Us</h1>
        </header>
        <p>40-2nd Street NE</p>
        <p>P.O. Box 124</p>
        <p>Carman, MB  R0G 0J0</p>
        <p>Ph: 204.745.5571</p>
        <p>Fax: 204.745.5572</p>
        <p>e-mail: <a href="mailto:carfrc@mymts.net">carfrc@mymts.net</a></p>
        <p>Website: <a href="http://www.carmanfamilyresourcecentre.com">www.carmanfamilyresourcecentre.com</a></p>
    </section>
    <section class="split">
        <header class="no-margin">
            <h1 class="no-margin">Board of Directors 2017</h1>
        </header>
        <p>Rina Dyck &mdash; President</p>
        <p>Amber Enns &mdash; Vice President</p>
        <p>Megan Vanderveen &mdash; Secretary</p>
        <p>Alison Versteeg &mdash; Treasurer</p>
        <p>Janise Bosscher</p>
        <p>Jolie Braun</p>
        <p></p>
        <p>Executive Director:  Michelle Bergsma</p>
    </section>
</div>