<p>
    The Carman Family Resource Centre (CFRC) is pleased to offer parent-child programs and parenting education classes 
    to support families in Carman and the surrounding area.
</p>
<p>
    The CFRC offers programs from September through June. We follow the Prairie Rose School Division calendar, including 
    closures for holidays and cancellations; if there is no school in the division, the Centre is also closed.
</p>
<p>
    As a general rule, all classes and programs we offer are free to attend!  Due to space limitations, registration is 
    required for some of our programs, while others are offered on a “drop in” basis. Please see our newsletter for a 
    schedule of what we currently offer, or contact the Centre for information. 
</p>
<p>
    These are some of the programs that we offer at the Carman Family Resource Centre!
</p>

<section>
    <header>
        <h1>Stay & Play</h1>
    </header> 
    <p>
        You are always welcome at Stay & Play where parents and caregivers stay to meet and share, while their 
        children learn and socialize through play!
        
        <ul>
            <li>Stay & Play is held every week at the Carman Family Resource Centre on Thursday mornings from 10:00 – 11:45 am</li>
            <li>Free to attend, and drinks and snacks are provided.</li>
        </ul>
    </p>
</section>
    
<section>
    <header>
        <h1>Creative Cooking to Cut Costs</h1>
    </header> 
    <p>
        Always a popular program, our monthly cooking class gives parents the opportunity to learn and share 
        in the kitchen. Join our facilitator in cooking up new recipes…and then enjoy a meal together with all 
        participants and their children! 
        
        <ul>
            <li>Classes are held once a month at the Carman Mennonite Church on the second Tuesday of each month, October to June, from 10:00 am – 1:00 pm.</li>
            <li>All supplies are provided, and there is no cost to attend.</li>
            <li>Class size is limited and registration is required for each class.</li>
            <li>Parent program</li>
            <li>For safety reasons, children are not permitted in the kitchen. Childcare is provided.</li>
        </ul>
    </p>
</section>
    
<section>
    <header>
        <h1>Kit & Kaboodle</h1>
    </header> 
    <p>
        Kit & Kaboodle features lots of songs, rhymes, a game and book sharing for children and their parents or caregivers!
        
        <ul>
            <li>Kit & Kaboodle is held weekly for 6 weeks for a one hour program followed by a snack and time to play and visit.</li>
            <li>Held at the Carman Family Resource Centre</li>
            <li>This is a great program for parents with infants, and children up to age 5!</li>
            <li>All supplies are provided, and there is no cost to attend.</li>
            <li>Registration is preferred, but drop-ins are welcome!</li>
        </ul>
    </p>
</section>
    
<section>
    <header>
        <h1>Alphabet Soup</h1>
    </header> 
    <p>
        Take 1 group of parents & children
    </p>
    <p>
        Add food related songs, rhymes and books
    </p>
    <p>
        Mix together a healthy snack, and
    </p>
    <p>
        Blend with fun, food-themed crafts
    </p>
    <p>
        Sprinkle with smiles…and enjoy!
    </p>
    <p>
        <ul>
            <li>Alphabet Soup is held weekly for 6 weeks for a two hour program </li>
            <li>Held at the Carman Family Resource Centre</li>
            <li>Includes a breakout parent/caregiver time where parents can visit while working on fun projects</li>
            <li>Suggested for ages 2 through 5 years</li>
            <li>Free to attend; all food, supplies and childcare are provided.</li>
            <li>Class size is limited; registration is required for this program.</li>
        </ul>
    </p>
</section>

<section>
    <header>
        <h1>Alphabet Soup in Motion</h1>
    </header> 
    <p>
        Alphabet Soup in Motion features rhymes, songs, activities, crafts, book-sharing, yoga and food!
        
        <ul>
            <li>Alphabet Soup in Motion is held weekly for 6 weeks for a two hour program</li>
            <li>Held at the Carman Family Resource Centre</li>
            <li>Includes a breakout parent/caregiver time where parents can visit while working on fun projects</li>
            <li>Suggested for ages 2 through 5 years</li>
            <li>Free to attend; all food, supplies and childcare are provided.</li>
            <li>Class size is limited; registration is required for this program.</li>
        </ul>
    </p>
</section>

<section>
    <header>
        <h1>Rock & Read</h1>
    </header> 
    <p>
        Rock & Read offers parents and their children a hands-on experience in learning nursery rhymes, 
        lullabies, finger plays and book sharing.  Then, parents learn book-making techniques as they create 
        a book for their child!
        
        <ul>
            <li>Rock & Read is held weekly for 6 weeks for a two hour program </li>
            <li>Held at the Carman Family Resource Centre</li>
            <li>Includes a breakout parent/caregiver time where parents can create a book for their child</li>
            <li>Suggested for ages 2 through 5 years</li>
            <li>Free to attend; all supplies, snacks and childcare are provided.</li>
            <li>Class size is limited; registration is required for this program.</li>
        </ul>
    </p>
</section>

<section>
    <header>
        <h1>S.T.A.R.T</h1>
    </header> 
    <p>
        S.T.A.R.T. – Set Time Aside to Read Together! This literacy-based program features books, books and more books…
        as well as songs, rhythms and rhymes. Participants will learn to make all sorts of wonderful books for their 
        children, fostering a love of reading from a very young age.
        
        <ul>
            <li>S.T.A.R.T. is held weekly for 6 weeks for a two hour program</li>
            <li>Held at the Carman Family Resource Centre</li>
            <li>Suggested for ages 2 through 5 years</li>
            <li>Includes a breakout parent/caregiver time where parents create a new book each week for their child</li>
            <li>Free to attend; all supplies and snacks are provided.</li>
            <li>Child care is provided</li>
            <li>Class size is limited; registration is required for this program</li>
        </ul>
    </p>
</section>

<section>
    <header>
        <h1>Growing up Green</h1>
    </header> 
    <p>
        Growing up Green uses nature as a learning tool and encourages parents and preschool children to go outside 
        and explore! This program features rhymes, books, and nature-based learning activities and crafts.
        
        <ul>
            <li>Growing up Green is held weekly for 6 weeks for a two hour program</li>
            <li>Held at the Carman Family Resource Centre; possibly also at other location in the community</li>
            <li>This program is held outdoors…or a combination of outdoors and inside, depending on the weather!</li>
            <li>Suggested for ages 2 through 5 years</li>
            <li>Free to attend; all supplies and snacks are provided. </li>
            <li>Class size is limited; registration is required for this program.</li>
        </ul>
    </p>
</section>

<section>
    <header>
        <h1>Shake, Rattle and Roll</h1>
    </header> 
    <p>
        Shake, Rattle & Roll is a favorite with all participants year after year!  This parent-child physical activity 
        program guaranteed to get you moving as parents and their children, will run, jump, bounce balls, and have fun 
        while developing skills and active lifestyle habits.
        
        <ul>        
            <li>Shake, Rattle and Roll is held weekly for up to 10 weeks for a one hour program, followed by a snack and time to visit</li>
            <li>Location to be determined</li>
            <li>Suggested for ages 2 through 5 years</li>
            <li>Childcare is available for children too young to participate</li>
            <li>Free to attend; all equipment is provided</li>
            <li>Indoor shoes or slippers are required for all participants</li>
            <li>Registration is preferred, but drop-ins are welcome!</li>
        </ul>
    </p>
</section>

<section>
    <header>
        <h1>Wiggle, Giggle & Munch</h1>
    </header> 
    <p>
        Wiggle, Giggle & Munch combines physical activity and healthy eating in a program that features music, 
        movement, games, crafts, food and fun!        
 
        <ul>
            <li>Wiggle, Giggle & Munch is held weekly for up to 10 weeks for a two hour program</li>
            <li>Location to be determined</li>
            <li>Suggested for ages 2 through 5 years</li>
            <li>Childcare is available for children too young to participate</li>
            <li>Free to attend; all equipment is provided</li>
            <li>Indoor shoes or slippers are required for all participants</li>
            <li>Registration is preferred, but drop-ins are welcome!</li>
        </ul>
    </p>
</section>

<section>
    <header>
        <h1>Family Gym Night</h1>
    </header> 
    <p>
        Family Gym Night is a program that promotes active and healthy lifestyles for families by giving preschool 
        children and their parents the opportunity to have some gym time every week!
        
        <ul>
            <li>Family Gym Night is held weekly on Thursdays from 6:00 – 7:00 pm, beginning mid-October until Christmas break, and again from January until spring break, following the Prairie Rose School Division calendar. </li>
            <li>Held at the Carman Elementary School gym; please enter by the west doors. </li>
            <li>Free to attend; all equipment is provided</li>
            <li>Indoor shoes or slippers are required for all participants</li>
        </ul>
    </p>
</section>

<section>
    <header>
        <h1>All Aboard the Number Train</h1>
    </header> 
    <p>
        All Aboard the Number Train is a numeracy-based program that exposes children to beginning number concepts. 
        Make math fun with simple games, rhymes and books, and prepare preschoolers for kindergarten with some basic 
        math ideas. 
        
        <ul>
            <li>All Aboard the Number Train is held weekly for 6 weeks for a one-and- half hour program </li>
            <li>Held at the Carman Family Resource Centre</li>
            <li>For ages 4 & 5 years</li>
            <li>Free to attend; all supplies and snacks are provided.</li>
            <li>Child care is provided for younger siblings</li>
            <li>Class size is limited; registration is required for this program.</li>
        </ul>
    </p>
</section>

<section>
    <header>
        <h1>Getting Ready for School</h1>
    </header> 
    <p>
        Getting Ready for School is a practical, hands-on program for parents that explores when children are ready 
        to learn, how to prepare children for school, and school expectations. 
        
        <ul>
            <li>Parents will come away with fun learning activities that can do with their children every day! </li>
            <li>Getting Ready for School is held weekly for up to 6 weeks for a one-and- half hour program </li>
            <li>Held at the Carman Family Resource Centre</li>
            <li>Parent program; child care is provided</li>
            <li>Free to attend; all supplies and snacks are provided. </li>
            <li>Class size is limited; registration is required for this program.</li>
        </ul>
    </p>
</section>

<section>
    <header>
        <h1>Play to Learn, Learn to Play</h1>
    </header> 
    <p>
        Play to Learn, Learn to Play gives parents the chance to explore the importance of play through observation, 
        group discussion, bookmaking, songs and games. At the same time, children get to learn by choosing activities 
        at a variety of play centres.  
        
        <ul>
            <li>Play to Learn, Learn to Play is held weekly for 6 weeks for a two hour program </li>
            <li>Held at the Carman Family Resource Centre</li>
            <li>Suggested for ages 18 months through 5 years</li>
            <li>Parent program; childcare is provided</li>
            <li>Free to attend; all supplies and snacks are provided. </li>
            <li>Class size is limited; registration is required for this program.</li>
        </ul>
    </p>
</section>

<section>
    <header>
        <h1>Other Programs & Events</h1>
    </header> 
    <p>
        <ul>
            <li>Parent-child Mother Goose</li>
            <li>Family Literacy Day Event</li>
            <li>Triple P </li>
            <li>Handle with Care</li>
            <li>Math Fiesta</li>
            <li>Craft & Play</li>
            <li>&#8230; and more!</li>
        </ul>
    </p>
</section>
